.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .league-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 25px;
  }
  
  p {
    margin: 5px 0;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: larger;
  }
  
  .country-flag {
    width: 30px;
    height: 50px;
    object-fit: contain;
  }
  
  .seasons-container {
    width: 80%;
    max-width: 600px;
  }
  
  .seasons-container ol {
    padding-left: 20px;
  }
  
  .seasons-container li {
    margin-bottom: 15px;
    list-style-type: decimal;
  }
  
  .season-details {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    background-color: #f9f9f9;
  }

  button{
    width: 200px;
    height: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #f9f9f9;
  }